<mat-toolbar color="primary">

    <button mat-button>
      <mat-icon>home</mat-icon>
    </button>

    <div>
        <button mat-button routerLink="/">Board</button>
        <button mat-button routerLink="/plan">Plan</button>
        <button mat-button [matMenuTriggerFor]="menu">Quality</button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/defect">Create Defect</button>
      <button mat-menu-item routerLink="/defect-list">Defect List</button>
    </mat-menu>
</mat-toolbar>